header, nav, main {
    max-width: auto;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */



div.allcards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Change to two equal columns */
    gap: 16px;
    section{
        flex-basis: calc(33.333% - (($gutter*2)/3))
    }
}