header {
    grid-template-columns: max-content auto;
    a {
        color: #000; /* Change as needed */
        text-decoration: none; /* Removes underline */
        font-size: 3rem; /* Adjust size */
        font-weight: bold; /* Optional */
        padding-right: 3rem;
        padding-top: 0;
    }
}







/* NAVIGATION STUFF GOES HERE  */

#theButton {
    display: none;
}

#theNav {
    grid-template-rows: 1fr;
}

#theNav ul, #theNav ul.open {
    display: flex;
    li a {
        padding: .4rem 1rem;
        border: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

#navWrapper {
    border-bottom: 1px solid $greyColor;
}


div.allcards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four equal columns */
    gap: 16px;
    section{
        flex-basis: calc(50% - ($gutter /2))
    }
    
    
}    


div.reviewwrapper {
    .cards{
          display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
        flex: 1 1 calc(25% - 16px); // 4 columns, accounting for the gap
        min-width: 250px;
        max-width: 300px; // Optional to keep uniformity
    }
    
    
}    